body {
    background-color: black;
    padding-top: 100px;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: #8142f5;
    background: -moz-linear-gradient(-45deg, #8142f5 0%, #c438f2 50%, #df38f2 51%, #f542ad 100%);
    background: -webkit-linear-gradient(-45deg, #8142f5 0%,#c438f2 50%,#df38f2 51%,#f542ad 100%);
    background: linear-gradient(135deg, #8142f5 0%,#c438f2 50%,#c438f2 51%,#f542ad 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8142f5', endColorstr='#f542ad',GradientType=1 );
    overflow: hidden;
    width: 100%;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

/* Change the color of links on hover */
.navbar a.onHover:hover {
    background-color: #ed98ec;
    color: black;
}

/* Add a color to the active/current link */
.navbar a#active {
    background-color: #5416a1;
    color: white;
}


.contact {
    font-size: 16px;
    color: white;
}
